.login-background {
  height: 100vh;
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  background-size: cover;
  background-position: center;
}

  
  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
    color: green; /* Color verde para el texto */
  }
  
  ion-card {
    background-color: #f9f9f9; /* Fondo del formulario de login */
  }
  