.login-background {
    background-color: white; /* o verde, según lo que prefieras */
  }
  
  .welcome-message {
    text-align: center;
    margin-bottom: 20px;
    color: green; /* Color verde para el texto */
  }
  
  ion-card {
    background-color: #f9f9f9; /* Fondo del formulario de login */
  }
  